@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
html, body {
  height: 100%;
}

body {
  align-items: center;
  background-color: #FBDA61;
  background-image: linear-gradient(45deg, #afb2bb 0%, #6269b6 100%);
  
  display: block;
  font-family: "Open Sans", sans;
  justify-content: center;
  overflow: hidden;
  perspective: 1800px;
  text-align: center;
  margin: 0 20px;
}

h1 {
  color: #2b2f5e;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: -1px;
  margin-bottom: 30px;
  transform: translateZ(35px);
}

h3 {
  color: #fff;
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 6px;
  transform: translateZ(25px);
}

.title{
  padding: 4rem 0;
}

.container {
  display: flex;
  height: 100%;
  color: #fff;
}

.left-section {
  flex: 1;
  padding: 20px;
  margin-top:-3rem;
  padding-left: 7rem;
}

.right-section {
  flex: 1;
  background-color: transparent;
  text-align: center;
  padding: 20px;
  padding-right: 4rem;
}

.right-section .paragraph {
  color: #ffffff;
  text-align: justify;
}

.right-section .paragraph .strong {
  font-weight: bold;
  color: #2b2f5e
}

p,
ol {
  margin-bottom: 20px;
}

ol {
  padding-left: 20px;
  list-style-type: decimal;
  list-style-image: url('images/ol.png');
}

li {
  margin-bottom: 10px;
}


.cards {
  background: transparent;
  border-radius: 15px;
  /* box-shadow: 0px 10px 20px 20px rgba(0, 0, 0, 0.17); */
  display: flex;
  padding: 1rem 0;
  perspective: 1800px;
  text-align: left;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  transform: rotateX(11deg) rotateY(16.5deg);
  min-width: 30%;
  min-height: auto;
}

.card {
  border-radius: 15px;
  box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.6);
  display: inline-block;
  height: 250px;
  overflow: hidden;
  perspective: 1200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translatez(35px);
  transition: transform 200ms ease-out;
  width: 175px;
  text-align: center;
  margin: 0 1rem;
  cursor: pointer;
}

.card:hover{
  transform: scale(110%);
}

.card:not(:last-child) {
  margin-right: 30px;
}

.card__img {
  position: relative;
  height: 110%;
}

.card__bg {
  bottom: -50px;
  left: -50px;
  position: absolute;
  right: -50px;
  top: -50px;
  transform-origin: 50% 50%;
  transform: translateZ(-50px);
  z-index: 0;
}

.card__one .card__img {
  top: 14px;
  height: 110%;
}
.card__one .card__bg {
  background: url("images/background/dexter-bg.jpg") center/cover no-repeat;
}
.card__two .card__img {
  top: 25px;
}
.card__two .card__bg {
  background: url("images/background/phines.jpg") center/cover no-repeat;
}
.card__three .card__img {
  top: 10px;
  left: -15px;
  height: 110%;
}
.card__three .card__bg {
  background: url("images/background/sponge.png") center/cover no-repeat;
}

.card__four .card__bg {
  background: url("images/background/mcqueen.png") center/cover no-repeat;
}

.card__four .card__img {
  top: -20px;
  left: -15px;
}

.card__five .card__bg {
  background: url("images/background/harrypotter.png") center/cover no-repeat;
}

.card__six .card__img {
  background: url("images/background/spacejam.png") center/cover no-repeat;
}

.card__seven .card__bg {
  background: url("images/background/scooby.jpg") center/cover no-repeat;
}

.card__seven .card__img {
  top: -20px;
  left: -10px;
}


.card__eight .card__img {
  background: url("images/background/willywonka.jpg") center/cover no-repeat;
}

.card__nine .card__bg {
  background: url("images/background/tonystark.jpg") center/cover no-repeat;
}
.card__ten .card__img {
  background: url("images/background/minnie.jpg") center/cover no-repeat;
}


.card__text {
  align-items: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.55) 100%);
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 70px;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.card__title {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 0 10px;
  margin-bottom: 3px;
}

